footer {
	color: #E7EBEC;
	background-color: #4C6085;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 25vh;
	align-items: center;
	justify-content: center;
	font-weight: 300;
}

.text05 {
	grid-column: 2;
	grid-row: 1;
	font-weight: 400;
	font-size: .6rem;
}

.subscription {
	grid-column: 2;
	grid-row: 2 /span 2;
}

.text06 {
	grid-column: 4;
	grid-row: 2;
	font-size: .7rem;
}

.apps {
	grid-column: 4;
	grid-row: 1;
}